.manager .header { color: #444444; }

.manager UL {
  position: relative;
  width: 600px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.manager LI {
  position: relative;
  height: 40px;
  line-height: 40px;
  color: #111111;
  padding-left: 20px;
  box-shadow: inset 0px 1px 0px #DDDDDD;

}

.manager LI>SPAN {
  position: absolute;
  right: 20px;
  width: 130px;
  text-align: right;
  font-weight: bold;
}

.manager UL LI:nth-child(3)>SPAN:last-child,
.manager UL LI:nth-child(4)>SPAN:last-child {
  color: #75B67B;
}

.manager LI:nth-child(3)>SPAN:last-child>SVG,
.manager LI:nth-child(4)>SPAN:last-child>SVG {  
  position: absolute;
  bottom: 12px;
  right: 83px;
}
