.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.popupBody {
  position: absolute;
  top: 281px;
  left: 420px;
  top: calc(50% - 231px);
  left: calc(50% - 300px);
  width: 600px;
  height: 462px;
  margin: auto;
  border-radius: 4px;
  background: white;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.4s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.formLeft {
  position: absolute;
  left: 20px;
  top: 70px;
  width: 260px;
  height: 316px;
  padding-right: 12px;
  border-right: 1px solid #C4C4C4;
}

.formRight {
  position: absolute;
  left: 312px;
  top: 70px;
  bottom: 20px;
  width: 260px;
}

.newHeader {
  position: relative;
  height: 50px;
  background: #003A5D;
  padding-left: 20px;
  line-height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.73px;
}

.newHeader>BUTTON {
  position: absolute;
  top: 15px;
  right: 20px;
  height: 23px;
  padding: 4px;
  border: 0px;
  color: rgb(255,255,255,0.5);
  transition-duration: 0.1s;
}

.popupBody h1 {
  width: 260px;
  margin: 0px;
  font-size: 16px;
  line-height: 19px;
}

.popupBody h2 {
  width: 260px;
  margin: 0px;
  margin-top: 11px;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.popupBody INPUT[type=text], INPUT[type=number] {
  margin: 0px;
  height: 22px;
  width: 250px;
  padding: 0px;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #CCCCCC;
}

.popupBody LABEL {
  display: flex;
  align-items:center;
  width: 260px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 12px;
}

.popupBody SELECT {
  margin: 0px;
  width: 100%;
  height: 24px;
  font-size: 12px;
  color: rgb(51,51,51,1);
  padding-left: 6px;
  border: 1px solid #CCCCCC;
}

.bottomFormCancelSave {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 260px;
  margin: 0px;
  text-align: right;
}

.bottomFormCancelSave INPUT[type=button], INPUT[type=submit] {
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  transition-duration: 0.1s;
  box-shadow: inset 0px -2px 0px #CCCCCC;
}

.bottomFormCancelSave INPUT[type=button] {
  width: 92px;
  background: white;
  color: #333333;
  border: 1px solid #CCCCCC;
  border-radius: 3px 0px 0px 3px;
}

.bottomFormCancelSave INPUT[type=submit] {
  background: #33AAD0;
  color: #FFFFFF;
  width: 63px;
  border-width: 0px;
  border-radius: 0px 3px 3px 0px;
}

.bottomFormCancelSave INPUT[type=button]:hover, INPUT[type=submit]:hover {
  opacity: 0.8;
}