.printingHeaderLabel { color: #333333; }
.printingHeaderTimeLeft { color: #3077E2; }

.printingHeaderBlue {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 90px;
  height: 10px;
  background: #3077E2;
  box-shadow: inset 0px 1px 0px #DDDDDD;
}

.printingCancel {
  background: white;
  border: 2px solid #e7e7e7;
  width: 38px;
  padding: 10px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
}

.printingDelete {
  border: 1px solid blue;
  width: 38px;
  border-width: 0px;
}

.printingDetails {
  position: relative;
  margin: 18px 0px 20px 0px;
  height: 184px;
  width: 600px;
}

.printingDetails>* { position: absolute; }
.printingDetails>IMG { left: 0px; }

.printingDetails>H1,
.printingDetails>H2 {
  left: 290px;
}

.printingDetails>H1 {
  top: 2px;
  left: 290px;
  width: 310px;
  height: 84px;
  margin: 0px;
  font-size: 26px;
  line-height: 28px;
  color: #111111;
}

.printingDetails>H2 {
  top: 86px;
  left: 290px;
  height: 28px;
  margin: 0px;
  font-size: 16px;
  color: #55575B;
}

.printingDetails>SPAN { bottom: 0px; }

.printingDetails>:nth-child(4) {
  left: 290px;
  text-align: left;
}

.printingDetails>:nth-child(5) {
  right: 0px;
  text-align: right;
}

.printingDetails>SPAN>DIV {
  font-size: 18px;
  height: 22px;
}

.printingDetails>SPAN>:nth-child(1) {
  color: #999999;
  font-weight: 400;
}

.printingDetails>SPAN>:nth-child(2) {
  margin-top: 6px;
  color: #003A5D;
  font-weight: 700;
} 
