@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.middleLine {
  position: absolute;
  width: 1px;
}

.mainMiddleLine {
  top: 34px;
  left: 656px;
  height: 918px;
  background: black;
}

.header {
  position: relative;
  height: 60px;
  background: #F3F3F3;
  box-shadow: inset 0px 1px 0px #DDDDDD;
  letter-spacing: 2px;
}

.header>SPAN:first-child {
  padding-left: 20px;
}

.header>SPAN {
  line-height: 60px;
  font-weight: 700;
  font-size: 16px;
}

.header>BUTTON {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 38px;
  padding: 0px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition-duration: 0.1s;
}

/* ======= left container data start ==========*/

.leftContainer {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 600px;
}

.leftContainer>DIV {
  margin-bottom: 18px;
}

.printing {
  height: 262px;
}

.printingHeaderLabel {
  color: #333333;
}

.printingHeaderTimeLeft {
  color: #3077E2;
}

.printingHeaderBlue {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 90px;
  height: 10px;
  background: #3077E2;
  box-shadow: inset 0px 1px 0px #DDDDDD;
}

.printing .header>BUTTON {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  width: 38px;
  padding-left: 6px;
  font-size: 10px;
  letter-spacing: 2px;
}

.printing .header>BUTTON:hover {
  background-color: #e7e7e7;
}


.printingDetails {
  margin: 18px 0px 20px 0px;
  height: 184px;
}

.printingDetailsData {
  position: absolute;
  right: 0px;
  width: 310px;
  height: 184px;
}

.printingDetailsData>H1 {
  font-size: 26px;
  line-height: 28px;
  height: 84px;
  margin: 0px;
  color: #111111;
}
.printingDetailsData>H2 {
  font-size: 16px;
  height: 28px;
  margin: 0px;
  color: #55575B;
}



.printingDetailsTime {
  position: absolute;
  bottom: 0px;
  width: 310px;
  height: 50px;
}

.printingDetailsTime>SPAN {
  position: absolute;
  bottom: 0px;
}

.printingDetailsTime>SPAN:nth-child(1) {
  left: 0px;
  text-align: left;
}

.printingDetailsTime>SPAN:nth-child(2) {
  right: 0px;
  text-align: right;
}

.printingDetailsTime>SPAN>DIV {
  font-size: 18px;
  height: 22px;
}

.printingDetailsTime>SPAN>DIV:nth-child(1) {
  color: #999999;
  font-weight: 400;
}

.printingDetailsTime>SPAN>DIV:nth-child(2) {
  margin-top: 6px;
  color: #003A5D;
  font-weight: 700;
}

.managerHeaderLabel {
  color: #444444;
}

.managerData {
  position: absolute;
  width: 600px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.managerData LI {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 40px;
  font-weight: 400;
  color: #111111;
  background: #FFFFFF;
  box-shadow: inset 0px 1px 0px #DDDDDD;
}

.managerData LI>SPAN {
  position: absolute;
  /* line-height: 40px; */
  padding-top: 11px;
  padding-bottom: 10px;
  height: 19px;
}

.managerData LI>SPAN:nth-child(1) {
  left: 20px;
}

.managerData LI>SPAN:nth-child(2) {
  right: 20px;
  width: 120px;
  text-align: right;
  font-weight: 700;
}

.managerData LI:nth-child(3)>SPAN:nth-child(2),
.managerData LI:nth-child(4)>SPAN:nth-child(2) {
  color: #75B67B;
}

.managerData LI:nth-child(3)>SPAN:nth-child(2)>IMG,
.managerData LI:nth-child(4)>SPAN:nth-child(2)>IMG {  
  position: absolute;
  top: 14px;
  left: 22px;
}

/* ======= left container data end ==========*/

/* ======= right container data start ==========*/
.rightContainer {
  position: absolute;
  left: 680px;
  top: 34px;
  width: 728px;
}

.queue .header>BUTTON {
  width: 110px;
  height: 38px;
  background: #00A1E0;
  color: white;
  border: 2px solid #e7e7e7;
  font-weight: 700;

  font-size: 16px;
  line-height: 16px;
  /* letter-spacing: -1px; */
}

.queue .header>BUTTON:hover {
  background: #238db1;
}

.queue UL {
  padding: 0px;
  list-style-type: none;
}

.queue UL LI {
  position: relative;
  width: 725px;
  height: 96px;
  margin-bottom: 12px;
  background: #F7F9FC;
  border: 1px solid #003A5D;
  border-radius: 8px;
}

.queueItem>SPAN {
  position: absolute;
  display: inline-block;
  
}

.queueItemReorder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 98px;
  border-right: 1px solid #003A5D;
}



.queueItemReorder>BUTTON {
  padding: 0px;
  width: 55px;
  /* font-size: 32px; */
  border-width: 0px;
  transition-duration: 0.1s;
  background: transparent;
  color: #33AADD;
  /* opacity: 0.5; */
}

.queueItemReorder>BUTTON:hover {
  background: white;
  color: #2f5e7a;
}

.queueItemReorder>BUTTON:nth-child(1) {
  border-bottom: 1px solid #003A5D;
  padding-top: 18px;
  height: 50px;
  border-radius: 8px 0px 0px 0px;
}

.queueItemReorder>BUTTON:nth-child(2) {
  border-radius: 0px 0px 0px 8px;
  border-top: 0px;
}

.queue UL LI:first-child .queueItemReorder>BUTTON:nth-child(1),
.queue UL LI:last-child .queueItemReorder>BUTTON:nth-child(2) {
  opacity: 0.3;
  color: gray;
}

.queue UL LI:first-child .queueItemReorder>BUTTON:nth-child(1):hover,
.queue UL LI:last-child .queueItemReorder>BUTTON:nth-child(2):hover {
  background: transparent;
  color: gray;
}

.queueItemImage {
  left: 55px;
  height: 86px;
  padding: 6px;
}

.queueItemImage>IMG {
  width: 130px;
  height: 86;
  margin: 0px auto;
}

.queueItemData {
  left: 197px;
  right: 124px;
  /* width: 460px; */
  height: 60px;
  padding-top: 21px;
  padding-bottom: 17px;
}

.queuedItemDataLabel {
  position: relative;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  color: #212f44;
  padding-bottom: 6px;
}

.queuedItemDataInfo {
  position: relative;
  /* height: 27px; */
  /* line-height: 27px; */
  font-size: 18px;
  font-weight: 400;
  color: #003A5d;
  margin-top: 3px;
  margin: auto 0px;
}



.queuedItemDataInfo>TIME {
  position: relative;
  top: 0px;
  margin-right: 20px;
}

.queuedItemDataInfo>IMG {
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.queuedItemDataInfo>SPAN {
}

.queuedItemDataInfo>* {
  
  /* display: inline; */
}

.queueItemMore {
  position: relative;
  top: 34px;
  right: 0px;
  width: 124px;
  height: 34px;
}

.queueItemMore>BUTTON {
  position: absolute;
  top: 0px;
  border-width: 0px;
  margin-top: 0px;
  margin-right: 16px;
  padding: 0px;
  line-height: 20px;
  height: 27px;
  background: transparent;
}

.queueItemMore>BUTTON:nth-child(1) {
  top: 2px;
  left: 0px;
}
.queueItemMore>BUTTON:nth-child(2) {
  left: 40px;
}

.queueItemMore>BUTTON:nth-child(3) {
  top: 4px;
  left: 88px;
}

.queueItemMore>BUTTON:hover {
  opacity: 0.5;
}

/* ======= right container data end ==========*/
